body {
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #d40404;
}

nav li {
    display: inline-block;
}

nav a {
    color: #000;
    text-decoration: none;
    padding: 10px;
}

.scrolling-text {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
    0% { 
        transform: translateX(100%); 
    }
    100% { 
        transform: translateX(-100%); 
    }
}